{% load staticfiles %}

<h3 class="section-heading">Auglýsingar</h3>
<hr class="primary">
<a href="http://www.dominos.is/">
  <img src="{% static 'home/img/ads/dominos-full-logo.png'%}" alt="Domino's" style="width:85%; max-width:15em;">
</a>
<br><br>
<a href="http://www.olgerdin.is/">
  <img src="{% static 'home/img/ads/tuborg.jpg'%}" alt="Tuborg" style="width:50%; max-width:8em;">
</a>
<br><br>
<a href="http://www.nova.is/">
  <img src="{% static 'home/img/ads/Nova_logo.jpg'%}" alt="Domino's" style="width:75%; max-width:10em;">
</a>
<br><br>
<a href="http://www.aur.is/">
  <img src="http://is3.mzstatic.com/image/thumb/Purple128/v4/c6/5e/6c/c65e6c24-2dde-9810-06ad-16a36259e6d9/source/1200x630bb.jpg" alt="Aur" style="width:75%; max-width:12em;">
</a>
