{% extends "home/layout.html" %}
{% load staticfiles %}

{% block content %}
<br><br>
<div class="container-fluid laws">

  <h1><i class="fa fa-1x fa-balance-scale sr-icons"></i> Lög Stiguls <i class="fa fa-1x fa-balance-scale sr-icons"></i></h1>
  <p>Síðast breytt á aðalfundi 13. apríl 2018, Hjálmholti 12.</p>

  <h2>Kafli 0. Lög Stiguls</h2>
  <h3>Grein 1.</h3>
  <p>Kaflar 0 til 11 eru lög félagsins. Lögum félagsins verður aðeins breytt
  á aðalfundi félagsins.</p>

  <h2>Kafli 1. Heiti, merki og aðstaða</h2>
  <h3>Grein 1.</h3>
  <p>	Heiti félagsins er Stigull, félag stærðfræði- og eðlisfræðinema við Háskóla
  Íslands. Merki félagsins skal ávallt hafa stærðfræði- eða eðlisfræðilegt
  þema.</p>
  <h3>Grein 2.</h3>
  <p>Félagsaðstaða Stiguls er í VR-151.</p>

  <h2>Kafli 2. Félagsmeðlimir</h2>
  <h3>Grein 1.</h3>
  <p>	Félagsmeðlimur getur hver sá orðið sem stundar nám í stærðfræði, hagnýttri
  stærðfræði, stærðfræði og stærðfræðimenntun, eðlisfræði eða verkfræðilegri eðlisfræði
  við Háskóla Íslands og hefur greitt félagsgjöld. Aðrir geta það ekki, nema til komi
  sérstök undanþága stjórnar félagsins.</p>

  <h2>Kafli 3. Tilgangur félagsins</h2>
  <h3>Grein 1.</h3>
  <p>	Að vinna að hagsmunamálum félagsmeðlima og vera í forsvari fyrir þá.</p>
  <h3>Grein 2.</h3>
  <p> Að efla félagsleg samskipti félagsmeðlima.</p>

  <h2>Kafli 4. Stjórn</h2>
  <h3>Grein 1.</h3>
  <p>Stjórn skal skipuð sex félagsmeðlimum; forseta, skemmtanastjóra, ritara,
  gjaldkera, tölvuhirði og nýnemafulltrúa. Ávallt skal vera til staðar varamaður
  stjórnar (sjá grein 4.9 og lauf 5.7.7). Æskilegt er að minnst einn
  stjórnarmeðlimur komi úr hvoru fagi, stærðfræði og eðlisfræði.</p>
  <h3>Grein 2.</h3>
  <p>	Forseti skal nefndur konungur/drottning. Forseti er fulltrúi félagsins
  í NáttVerki, samráðs- og samvinnuvettvangi hagsmunafélaga á Verkfræði- og
  náttúruvísindasviði (VoN) (sjá grein 7.1). Forseti vinnur með Nemendaþjónustu
  VoN við skipulagningu viðburða á vegum sviðsins, svo sem nýnemadagsins. 
  Drottning eða konungur félagsins skal krýnd(ur) með kórónu félagsins eftir kjör,
  frá og með aðalfundi félagsins á því herrans ári 2019. Kórónan skal lögfest á 
  þeim fundi en kjósa má um að skipta út kórónunni á aðalfundi ef 
  kórónubreytingartillaga er gerð. </p>
  <h3>Grein 3.</h3>
  <p>	Skemmtanastjóri skal nefndur hófdýr og hefur yfirumsjón með skipulagningu
  vísindaferða og annarra viðburða (sjá grein 8.1).</p>
  <h3>Grein 4.</h3>
  <p>	Ritari skal nefndur skáld og skal sjá um fundargerðir og annast bóka- og
  blaðakost	félagsins (sjá grein 10.1). Ritari sé jafnframt varaforseti 
  félagsins og taki yfir störf forseta ef forseti forfallast um lengri tíma.</p>
  <h3>Grein 5.</h3>
  <p>	Gjaldkeri skal nefndur féhirðir og skal annast fjárhag og bókhald
  félagsins. Gjaldkeri sér auk þess um skráningu í félagið.</p>
  <h3>Grein 6.</h3>
  <p>	Tölvuhirðir skal nefndur lénsherra og ber ábyrgð á viðhaldi og uppfærslu 
  vefsíðu félagsins, auk þess að hafa umsjón með tölvukosti þess. Tölvuhirðir er 
  jafnframt auglýsingastjóri félagsins (sjá grein 7.1).</p>
  <h3>Grein 7.</h3>
  <p>	Nýnemafulltrúi skal nefndur peð og skal efla tengsl nýnema við eldri
  nemendur. Stjórn skipar nýnemafulltrúa úr hópi nýnema í upphafi skólaárs.</p>
  <h3>Grein 8.</h3>
  <p>	Á stjórnarfundum ræður meirihluti. Falli atkvæði jafnt skal atkvæði
  konungs/drottningar ráða.</p>
  <h3>Grein 9.</h3>
  <p> Sjái stjórnarmeðlimur sér af einhverjum orsökum ekki fært að halda áfram
  stjórnarsetu skal hann tafarlaust víkja úr stjórn og tekur varamaður við af
  honum. Stjórnin skipar í kjölfarið nýjan varamann.  </p>
  <h3>Grein 10.</h3>
  <p> Stjórn skal auglýsa hlunnindi sín meðal félagsmeðlima, s.s. með tölvupósti 
  eða innleggi á Facebook- hóp félagsins. Berist mótmæli innan viku skal greiða 
  atkvæði um hlunnindin á almennum félagsfundi eða með netkosningu, sem haldin er 
  innan tveggja vikna frá auglýsingu hlunninda. Stjórn skal einnig greina frá 
  hlunnindum sínum í skýrslu sinni á aðalfundi. </p>
  <h3>Grein 11.</h3>
  <p> Sé auglýsing kostuð af fyrirtæki eða einstaklingi skal það tekið fram, sé
  nokkur vafi á.  </p>

  <h2>Kafli 5. Aðalfundur</h2>
  <h3>Grein 1.</h3>
  <p>	Aðalfund félagsins skal halda ár hvert eftir 15. mars en eigi síðar en 15.
  apríl. Boða skal til fundarins með fimm skóladaga fyrirvara hið skemmsta með
  þeim boðleiðum sem skilvirkastar þykja svo tryggt sé að boðin berist öllum
  félagsmeðlimum. </p>
  <h3>Grein 2.</h3>
  <p>	Kosningarétt og kjörgengi hafa einungis félagsmeðlimir. Komist félagsmeðlimur 
  ekki á aðalfund má hann skila atkvæði sínu skriflega til forseta. </p>
  <h3>Grein 3.</h3>
  <p>	Lagabreytingartillögum skal skilað til stjórnar félagsins eða hún borin
  upp á aðalfundi. Nái lagabreytingatillaga samþykki meirihluta fundarmanna,
  öðlast hún gildi. </p>
  <h3>Grein 4.</h3>
  <p>	Nýkjörin stjórn tekur við störfum strax að loknum aðalfundi. Skiptafund
  nýkjörinnar og fráfarandi stjórnar skal halda eigi síðar en tveimur vikum
  eftir aðalfund.</p>
  <h3>Grein 5.</h3>
  <p>	Dagskrá aðalfundar skal vera:</p>
  	<h4>Lauf 1.</h4>
  		<p>Fundargerð síðasta aðalfundar.</p>
  	<h4>Lauf 2.</h4>
  		<p>Skýrsla stjórnar.</p>
  	<h4>Lauf 3.</h4>
  		<p>Endurskoðaðir reikningar lagðir fram.</p>
  	<h4>Lauf 4.</h4>
  		<p>Námsráðs- og deildarráðsfulltrúar kynna málefni liðins starfsárs, sjái
      þeir þörf til þess eða sé þess krafist af félagsmeðlimum.</p>
  	<h4>Lauf 5.</h4>
  		<p>Lagabreytingar (gera skal ráð fyrir a.m.k. klst. fyrir þennan dagskrárlið).</p>
  	<h4>Lauf 6.</h4>
  		<p> Kosning forseta á eftirfarandi hátt: Þeir félagsmeðlimir sem hafa boðið sig 
      fram til embættis forseta skulu fá tækifæri til að flytja stutta ræðu áður
      en gengið er til leynilegra kosninga. Hver fundarmanna kýs einn frambjóðanda
      og sá sem hlýtur hreinan meirihluta atkvæða verður forseti félagsins. Hljóti
      enginn frambjóðandi hreinan meirihluta atkvæða skal kosið aftur á milli þeirra
      tveggja sem hlutu flest atkvæði í fyrri kosningunum. </p>
    <h4>Lauf 7.</h4>
      <p>Kosning stjórnar á eftirfarandi hátt: Þeir félagsmeðlimir sem hafa boðið sig
      fram til stjórnar skulu fá tækifæri til að flytja stutta ræðu áður en
      gengið er til leynilegra kosninga. Hver fundarmanna kýs fjóra frambjóðendur
      og mynda fjórir atkvæðahæstu nýja stjórn Stiguls ásamt forseta. Sá
      atkvæðamesti skal verða varaforseti og stjórnin skipta með sér embættum
      skemmtanastjóra, ritara, gjaldkera og tölvuhirðis. Séu fimm eða fleiri
      í framboði skal sá fimmti í röðinni verða varamaður stjórnar Stiguls.
      Annars skal stjórn skipa varamann við fyrsta tækifæri.</p>
  	<h4>Lauf 8.</h4>
  		<p>Kosning þriggja til sex fulltrúa í ritnefnd Verpils (sjá 7.5).</p>
  	<h4>Lauf 9.</h4>
  		<p>Tilnefning stjórnar í eftirfarandi embætti (sjá 7. kafla):</p>
  		<p>Tveir endurskoðendur reikninga.</p>
  		<p>Tveir fulltrúar í námsráð hvors fags, stærðfræði og eðlisfræði.</p>
  		<p>Einn fulltrúi í deildarráð.</p>
  		<p>Tveir IAESTE alþjóðafulltrúar.</p>
  	<h4>Lauf 10.</h4>
  		<p>Kosning um bækur fyrir aðstöðu Stiguls (sjá 10. kafla, 1. gr.).</p>
  	<h4>Lauf 11.</h4>
  		<p>Önnur mál.</p>
  <h3>Grein 6.</h3>
  <p>	Komi fleiri en tvö framboð í embætti og enginn frambjóðandi hlýtur hreinan
  meirihluta skal kjósa aftur um þá sem flest atkvæði hljóta.</p><p></p>
  <h3>Grein 7.</h3>
  <p>	Séu fleiri en eitt framboð í embættiskosningum á aðalfundi getur hver
  félagsmeðlimur óskað þess að kosningar séu leynilegar.</p>

  <h2>Kafli 6. Almennir félagsfundir</h2>
  <h3>Grein 1.</h3>
  <p>Stjórnin getur boðað til almenns félagsfundar um málefni er koma upp hverju
  sinni. Eru þeir	ályktunarhæfir ef 1/3 hluti félagsmeðlima greiði atkvæði á þeim og skal
  einfaldur meirihluti ráða. Almennan félagsfund skal boða með minnst þriggja
  skóladaga fyrirvara, með þeim boðleiðum sem þykja skilvirkastar.</p>
  <h3>Grein 2.</h3>
  <p>1/5 hluti félagsmeðlima getur krafist almenns félagsfundar og er stjórninni
  skylt að verða við þeirri kröfu. Skal fundurinn haldinn í síðasta lagi fimm
  skóladögum eftir að krafan kemur fram. Almennan félagsfund skal boða með minnst
  þriggja skóladaga fyrirvara, með þeim boðleiðum sem þykja skilvirkastar.</p>
  <h3>Grein 3.</h3>
  <p>Samþykki almennur félagsfundur vantraust á stjórnina, stjórnarmeðlim eða
  embættismann ber stjórn, stjórnarmeðlim eða embættismanni sem hefur hlotið
  vantraust að víkja tafarlaust og skal félagsfundurinn þá kjósa nýja stjórn,
  stjórnarmeðlim eða embættismann sem sitja fram að næsta aðalfundi.</p>

  <h2>Kafli 7. Um embætti Stiguls</h2>
  <h3>Grein 1.</h3>
  	<p>Auglýsingastjóri skal annast tilkynningar atburða og fréttir. Fyrsti 
    auglýsingastjóri félagsins nefnist Ásgeir I. Um aðra auglýsingastjóra 
    gildir að þeir nefnast Ásgeir (n+1)-ti ef forveri þeirra nefnist Ásgeir n-ti 
    og ritist raðtalan með rómversku letri. Hver sá einstaklingur sem gegnt 
    hefur þessu embætti heldur titli sínum ævilangt.</p>
  <h3>Grein 2.</h3>
  	<p>Námsráð er innan hvers fags hverrar deildar hvers sviðs HÍ. Námsráð 
    snýr að kennsluháttum fagsins og því hvaða námskeið eru kennd innan fagsins. 
    Stigull skal sjá til þess að tveir fulltrúar nemenda sitji í námsráði hvors fags, 
    stærðfræði og eðlisfræði. Fráfarandi fulltrúar skulu kynna starf sitt fyrir komandi fulltrúum.</p>
  <h3>Grein 3.</h3>
  	<p>Deildarráð er innan hverrar deildar hvers sviðs HÍ. Deildarráð snýr að kennslu á framhaldsstigi, 
    auk rannsókna, og starfar sameiginlega fyrir öll fög deildarinnar. Stigull og Hvarf skulu í sameiningu 
    tryggja að einn fulltrúi nemenda Raunvísindadeildar sitji í deildarráði. Æskilegt er að fulltrúinn 
    sé í framhaldsnámi og fög deildarinnar skulu skiptast á að eiga fulltrúann. Fráfarandi fulltrúi 
    skal kynna starf sitt fyrir komandi fulltrúa.</p>
  <h3>Grein 4.</h3>
  	<p>Alþjóðafulltrúi skal vera kosinn á aðalfundi. Alþjóðafulltrúinn skal
    taka virkan þátt í störfum IAESTE-nefndar Íslands. Alþjóðafulltrúinn skal
    sjá um að auglýsa viðburði og mikilvægar dagsetningar (t.d. umsóknarfrest
    fyrir starfsnám) á vegum IAESTE fyrir félagsmeðlimum Stiguls. </p>
  <h3>Grein 5.</h3>
  	<p>Ritnefnd Verpils skal kosin á aðalfundi og skulu meðlimir hennar vera þrír til sex og kallast verplar. 
    Rit- nefndin skal annast ljósmyndun á viðburðum félagsins og birta fréttir á vef félagsins. Stjórn félagsins 
    skal sjá til þess að minnst einn verpill sé viðstaddur hvern viðburð Stiguls, þ.m.t. vísindaferðir.</p>

  <h2>Kafli 8. Atburðir</h2>
  <h3>Grein 1.</h3>
  	<p>Stjórn Stiguls skal standa fyrir viðburðum til að efla félagslíf nemenda. 
    Æskilegt er að a.m.k. eftirfarandi atburðir séu haldnir:</p>
  <ul>
    <li>Vísindaferðir</li>
  	<li>Nýnemaferð</li>
  	<li>Haustferð</li>
  	<li>Haustfögnuður</li>
  	<li>Jólaglögg (sem jafnframt er próflokaskemmtun)</li>
  	<li>Skíðaferð</li>
  	<li>Árshátíð</li>
  	<li>Vorferð (sem jafnframt er próflokaskemmtun)</li>
  	<li>Aðrir atburðir svo sem skákkvöld, vídjókvöld, litlu-jól, plötukynningarkvöld eða hvað sem áhugi þykir fyrir.</li>
  </ul>

  <h2>Kafli 9. Birting og uppfærsla laga</h2>
  <h3>Grein 1.</h3>
  <p>Lög þessi skulu vera aðgengileg á heimasíðu félagsins. Lagabreytingartillögur sem samþykktar hafa verið sem lög 
  skulu uppfærðar innan tveggja vikna frá samþykkt þeirra.</p>

  <h2>Kafli 10. Önnur mál</h2>
  <h3>Grein 1.</h3>
  <p>Bjóði fjárhagur og geymslupláss upp á það skal félagið enda hvert skólaár
  á því að kaupa eða útvega tvær nýjar bækur, eina um stærðfræði og eina um
  eðlisfræði. Meðlimir félagsins mega koma með tillögur að bókum til stjórnar.
  Stjórn félagsins skal kynna minnst sex bóka úrtak samtímis og
  lagabreytingatillögur fyrir aðalfund. Úrtakið skal samanstanda af þremur
  bókum um stærðfræði og þremur bókum um eðlisfræði, hið minnsta. Félagsmeðlimir
  velja úr eina bók um stærðfræði og eina bók um eðlisfræði með kosningu
  á aðalfundi. Bækur félagsins skulu ávallt geymdar þar sem allir félagsmeðlimir
  geta nálgast þær.</p>
  <h3>Grein 2.</h3>
  <p>	Stigull tilheyrir eftirfarandi félögum eða er í samstarfi við þau:</p>
  <ul>
  	<li>Íslenska stærðfræðafélagið</li>
  	<li>NáttVerk</li>
  	<li>IAESTE – The International Association for the Exchange of Students for Technical	Experience.</li>
  </ul>
  <h3>Grein 3.</h3>
  <p>Öll opinber tölvupóstsamskipti stjórnar skulu fara fram í gegnum sameiginlegt tölvupóstfang stjórnar. 
  Þar undir teljast t.d. samskipti við fyrirtæki vegna skipulags á viðburðum félagsins svo sem vísindferða, 
  árshátíðar og annarra ferða.</p>
  <h3>Grein 4.</h3>
  <p>Leggja má fram breytingartillögu um merki félagsins í aðdraganda almenns félagsfundar (þ.m.t. aðalfundar). Ef 
    breyta á merki félagsins skulu félagsmeðlimir fá að kjósa um það á félagsfundi hvort þeir vilja nýja merkið 
    eða halda því gamla. Skipt er um merki ef það nýja hlýtur meirihluta atkvæða, annars er hinu gamla haldið.</p>
  <h3>Grein 5.</h3>
  <p>Gildi Stiguls eru fegurð, áreiðanleiki og jafnrétti. Leggja má fram breytingartillögu á gildunum fyrir aðalfund 
  félagsins. Ef breyta á gildum félagsins skulu félagsmeðlimir fá að kjósa um það á aðalfundi hvort þeir vilji ný 
  gildi eða halda þeim gömlu. Skipt er um gildi ef hin nýju hljóta meirihluta atkvæða, annars eru hinum gömlu haldið.</p>

  <h2>Kafli 11.</h2>
  <p>Lög þessi öðlast nú þegar gildi.</p>

</div>
{% endblock %}
