{% load staticfiles %}

<!DOCTYPE html>
<html lang="is">

<head>
  <title> Stigull vefsíða </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="{% static 'home/css/creative.min.css' %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons (don't seem to work... Skoða betur þegar síðan er komin upp!) -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/manifest.json' %}">
  <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}">
  <meta name="msapplication-config" content="{% static '/favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Stigull</a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          {% if not request.user.is_authenticated and not "login" in request.get_full_path %}
            <li>
              <form class="navbar-form navbar-right" action="{% url 'login' %}" method="post">{% csrf_token %}
                <input type="text" class="form-control input-sm" name="username" placeholder="Notendanafn" />
                <input type="password" class="form-control input-sm" name="password" placeholder="Lykilorð" />
                <button type="submit" class="btn btn-default btn-sm">Innskrá</button>
              </form>
            </li>
          {% else %}
            <li>
              <a href="/logout/">{{ user.first_name }} - Útskráning</a>
            </li>
          {% endif %}

          <li>
            <a href="/">Heim</a>
          </li>
          <li>
            <a href="/news/">Fréttir</a>
          </li>
          <li>
            <a href="/events/">Viðburðir</a>
          </li>
          <li>
            <a href="/laws/">Lög</a>
          </li>
          <!--
          <li>
            <a href="/contact/">Contact</a>
          </li>
          -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  {% block head %}
  {% endblock %}
  <div class="container-fluid">

  <div class="row">
    <div class="col-md-10" style="padding:0;">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-md-2 text-center"style="padding:0;">
      <br><br><br><br><br>
      {% include "home/adverts.html" %}
    </div>
  </div>

  </div>

<!--    <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Free Download at Start Bootstrap!</h2>
              <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
          </div>
      </div>
  </aside>
-->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Hafðu samband!</h2>
          <hr class="primary">
          <p>Ertu með spurningu? Þá ertu á réttum stað! Sendu félaginu facebook skilaboð eða póst á netfang og við munum svara eins fljótt og auðið er!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-center">
          <a href="https://www.facebook.com/stigull.hi">
            <i class="fa fa-facebook-official fa-3x sr-contact" style="color:#4267b2;"></i>
            <p>Stigull HÍ</p>
          </a>
        </div>
        <div class="col-xs-6 text-center">
          <a href="mailto:stigull@hi.is">
            <i class="fa fa-envelope-o fa-3x sr-contact" style="color:black;"></i>
            <p>stigull@hi.is</p>
          </a>
        </div>
      </div>
    </div>
  </section>



  <!-- jQuery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Theme JavaScript -->
  <script src="{% static 'home/js/creative.min.js' %}"></script>

</body>

</html>
