{% extends 'home/layout.html' %}

{% block title %}Breyta lykilorði{% endblock %}

{% block content %}
<section class="container-fluid">
  <h2> Breyta lykilorði </h2>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Breyta lykilorði</button>
    </form>
  {% else %}
    <p>
      Tengillinn til að breyta lykilorðinu virkar ekki, mögulega vegna þess að
      búið er að nota hann.
      Vinsamlegast biddu aftur um að endurstilla lykilorð með því að
      <a href="{% url 'reset_password' %}"> smella hér.</a> 
    </p>
  {% endif %}
</section>
{% endblock %}
