{% autoescape off %}
Hæ, kæri Stigull!

Þú hefur gleymt lykilorðinu þínu á heimasíðu Stiguls.

Vinsamlegast farðu á eftirfarandi síðu og veldu nýtt lykilorð:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Notendendanafnið þitt, ef þú skyldir hafa gleymt því, er: {{ user.get_username }}

Ef það virkar ekki að endurstilla lykilorðið, endilega hafðu samband við
stjórn Stiguls, t.d. með því að senda tölvupóst á stigull@hi.is.

Kær kveðja,
Stjórnin
{% endautoescape %}

