{% extends 'home/layout.html' %}

{% block title %}Tölvupóstur sendur{% endblock %}

{% block content %}
<section class="container-fluid">
  <h2>Tölvupóstur sendur</h2>
  <p>
    Við höfum sent þér tölvupóst til að endurstilla lykilorðið þitt. Hann ætti
    að koma innan skamms.
  </p>
  <p>
    Ef að þú sérð ekki póstinn, athugaðu hvort þú hafir slegið inn rétt netfang
    (líklega @hi.is netfangið þitt). Ef eitthvað virkar ekki, hafðu samband við
    stjórnina.
  </p>
</section>
{% endblock %}
